<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrew B Schmidt</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <a href="/"><h1 class="name">Andrew B Schmidt</h1></a>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <div class="navbar">
            <p class="navbar_text">
                <a class="nav" href="https://www.linkedin.com/in/abschmidt6/">LinkedIn</a>
                <a class="nav" href="/projects/">Projects</a>
                <a class="nav" href="/photography/">Photography</a>
                <a class="nav" href="/resume/">Resume</a>
                <a class="nav" href="/aboutme/">About Me</a>
            </p>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <div>
            <p> Sorry, this page isn't currently available :( </p>
            <p> I'm working on redesigning my website myself, and I am currently in the process of migrating my portfolio from my old site. </p>
            <p> Check back soon, it should be fixed shortly </p>
        </div>

    </div>
</body>
</html>