<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrew B Schmidt</title>

    <meta name="description" content="Andrew B Schmidt - University of Michigan 2020 - Computer Science - Photography - Entrepreneurship"/>
    <meta name="keywords" content="Andrew B Schmidt - University of Michigan 2020 - Computer Science - Photography - Entrepreneurship"/>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <a href="/"><h1 class="name">Andrew B Schmidt</h1></a>
        </div>
        <!------------------------------------------------------------------>
        <div class="navbar">
            <p class="navbar_text">
                <a class="nav" href="https://www.linkedin.com/in/abschmidt6/">LinkedIn</a>
                <a class="nav" href="/projects/">Projects</a>
                <a class="nav" href="/photography/">Photography</a>
                <a class="nav" href="/static/files/resume.pdf">Resume</a>
                <a class="current_nav" href="/aboutme/">About Me</a>
            </p>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <!------------------------------------------------------------------>
        <img class="profpic" src="/static/images/profpic.jpg">
        <div>

            <p class="side_text">
            I am a Senior studying Computer Science Engineering at the University of Michigan.

            I have taken couses on Data Structures and Algorithms, Computer Architechture, Computer Security, Web Systems, Search Engines, Software Engineering, Database Management, and more.
            I am experienced in C++, C, Python, Java, SQL, Bash, and Git.

            I plan to graduate with a minor in Entrepreneurship and have taken several business and finance courses.
            </p>

            <p class="side_text">
            Currently, I am seeking full time employment beginning in May 2020.
            My related interests include computer security, database management, penetration testing, and software development.
            </p>

            <p class="side_text">
            My passions include hockey, photography, traveling, and new technology.
            </p>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <!------------------------------------------------------------------>

    </div>
</body>
</html>