<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrew B Schmidt</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <a href="/"><h1 class="name">Andrew B Schmidt</h1></a>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <div class="navbar">
            <p class="navbar_text">
                <a class="nav" href="https://www.linkedin.com/in/abschmidt6/">LinkedIn</a>
                <a class="nav" href="/projects/">Projects</a>
                <a class="nav" href="/photography/">Photography</a>
                <a class="nav" href="/resume/">Resume</a>
                <a class="nav" href="/aboutme/">About Me</a>
            </p>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <!------------------------------------------------------------------>
        <div>
            <img class="profpic" src="/static/images/profpic.jpg">
            <p class="side_text">
            I am a Junior studying Computer Science Engineering at the University of Michigan.
            I have taken couses on Data Structures and Algorithms, Computer Architechture, Computer Security, Web Systems, Database Management, and more.
            I am experienced in C++, C, Python, Java, SQL, Bash, and Git.
            </p>

            <p class="side_text">
            Currently, I am seeking an internship related to Computer Science
            for the summer of 2019.
            My related interests include computer security, database management, and software development.
            </p>

            <p class="side_text">
            My passions include hockey, photography, traveling, and new technology.
            </p>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <!------------------------------------------------------------------>

    </div>
</body>
</html>