<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrew B Schmidt</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <a href="/"><h1 class="name">Andrew B Schmidt</h1></a>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <div class="navbar">
            <p class="navbar_text">
                <a class="nav" href="https://www.linkedin.com/in/abschmidt6/">LinkedIn</a>
                <a class="nav" href="/projects/">Projects</a>
                <a class="nav" href="/photography/">Photography</a>
                <a class="nav" href="/static/files/resume.pdf">Resume</a>
                <a class="nav" href="/aboutme/">About Me</a>
            </p>
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <img class="profpic" src="/static/images/profpic.jpg">
        <div>
            <p class="side_text">
                I am a Computer Science student at the University of Michigan.
            </p>
            <p class="side_text">
                Learn more <a href="/aboutme/">about me</a>, <a href="/projects/">my projects</a>, or <a href="/photography/">my other passions</a>.
            </p
        </div>
        <!------------------------------------------------------------------>
        <hr class="line">
        <!------------------------------------------------------------------>

    </div>
</body>
</html>