<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrew B Schmidt</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <a href="/"><h1 class="name">Andrew B Schmidt</h1></a>
        </div>
        <!------------------------------------------------------------------>
        <div class="navbar">
            <p class="navbar_text">
                <a class="nav" href="https://www.linkedin.com/in/abschmidt6/">LinkedIn</a>
                <a class="nav" href="/projects/">Projects</a>
                <a class="current_nav" href="/photography/">Photography</a>
                <a class="nav" href="/static/files/resume.pdf">Resume</a>
                <a class="nav" href="/aboutme/">About Me</a>
            </p>
        </div>
        <div class="navbar">
            <p class="small_navbar">
                <a class="nav" href="/photography/places/">Places</a>
                <a class="nav" href="/photography/timelapses/">Timelapses</a>
                <a class="nav" href="/photography/astro/">Astrophotography</a>
                <a class="nav" href="/photography/sports/">Sports</a>
            </p>
        </div>
        <hr class="line">

        {% for video in videos %}
        <div>
            <video width=100% controls>
            <source src={{ "/static/videos/" ~ video.filename }} type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </div>
        {% endfor %}



    </div>
</body>
</html>