div {
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    text-align: left;
    padding: 10px;

}

img {
    width: 600px;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 48px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
